@import 'tailwindcss';

/**fonts**/
.silkscreen-regular {
  font-family: 'Silkscreen', sans-serif;
}

.bytesized-regular {
  font-family: 'Bytesized', sans-serif;
  font-size: 1.4rem;
}

.jersey-20-regular {
  font-family: 'Jersey 20', sans-serif;
}

.lekton-regular {
  font-family: 'Lekton', monospace;
  font-size: 1.2rem;
}

.dongle-regular {
  font-family: 'Dongle', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.tiny5-regular {
  font-family: 'Tiny5', sans-serif;
  font-size: 1.3rem;
}

:root {
  --primaryButtonBackground: rgb(14, 14, 14);
  --pixelbuttonBackground: rgb(29, 29, 29);
  --pixelbuttonBoxShadow: #111111;
  --cancelButtonBackground: rgb(71, 18, 18);
  --cancelButtonBoxShadow: rgb(85, 24, 24);
  --darkerRed: rgb(94, 19, 19);
  --darkestRed: rgb(49, 0, 0);
  --darkGreen: rgb(37, 55, 35);
  --darkerGreen: rgb(16, 29, 15);
  --lighGreen: rgb(136, 143, 119);
}

#app {
  text-align: center;
  width: 900px;
  margin: 0rem auto;
  font-size: 1.4rem;
}

body {
  scrollbar-color: var(--cancelButtonBackground) rgba(0, 0, 0, 0);
  background-color: #380202;
  color: white;
  width: auto;
  height: auto;
  cursor: url('https://www.svgrepo.com/show/62818/circle-outline-of-small-size.svg');
}

p {
  color: #fff;
}

.latest-updates {
  background-color: var(--cancelButtonBackground);
  width: 20rem;
  height: fit-content;
  padding: 1rem;
  margin: 3rem 1rem;
  display: inline-flex;
  float: right;
  box-shadow:
    0px 5px var(--cancelButtonBackground),
    0px -5px var(--cancelButtonBackground),
    5px 0px var(--cancelButtonBackground),
    -5px 0px var(--cancelButtonBackground),
    0px 10px var(--darkerRed),
    5px 5px var(--darkerRed),
    -5px 5px var(--darkerRed),
    inset 0px 5px #ffffff36;
}

.homepage .p-accordionpanel {
  width: 18rem;
}

.website-title {
  float: left;
  width: 100%;
  line-height: 6rem;
}

.sten-smaller {
  position: relative;
  display: flex;
  font-size: 5rem;
}

.p-button.btns {
  background-color: var(--primaryButtonBackground);
}

.p-button.btns:not(:disabled):hover {
  background: var(--primaryButtonBackground);
}

.pixelbutton {
  button,
  .cancel-button {
    height: 1rem;
    line-height: 0.2;
    margin: 1rem 1rem;
    padding: 0.9rem 1rem;
    border: 0;
  }

  .cancel-button:active,
  button:active {
    transform: translateY(0.5rem);
  }

  button,
  .dialogbutton {
    background-color: var(--pixelbuttonBackground);
    box-shadow:
      0px 5px var(--pixelbuttonBackground),
      0px -5px var(--pixelbuttonBackground),
      5px 0px var(--pixelbuttonBackground),
      -5px 0px var(--pixelbuttonBackground),
      0px 10px var(--pixelbuttonBoxShadow),
      5px 5px var(--pixelbuttonBoxShadow),
      -5px 5px var(--pixelbuttonBoxShadow),
      inset 0px 5px #ffffff36;
    cursor: pointer;
  }

  .cancel-button {
    background-color: var(--cancelButtonBackground);
    box-shadow:
      0px 5px var(--cancelButtonBackground),
      0px -5px var(--cancelButtonBackground),
      5px 0px var(--cancelButtonBackground),
      -5px 0px var(--cancelButtonBackground),
      0px 10px var(--cancelButtonBoxShadow),
      5px 5px var(--cancelButtonBoxShadow),
      -5px 5px var(--cancelButtonBoxShadow),
      inset 0px 5px #ffffff36;
    cursor: pointer;
  }

  button:active {
    box-shadow:
      0px 5px var(--pixelbuttonBoxShadow),
      0px -5px var(--pixelbuttonBoxShadow),
      5px 0px var(--pixelbuttonBoxShadow),
      -5px 0px var(--pixelbuttonBoxShadow),
      inset 0px 5px var(--pixelbuttonBoxShadow);
  }

  .cancel-button:active {
    box-shadow:
      0px 5px var(--cancelButtonBoxShadow),
      0px -5px var(--cancelButtonBoxShadow),
      5px 0px var(--cancelButtonBoxShadow),
      -5px 0px var(--cancelButtonBoxShadow),
      inset 0px 5px var(--cancelButtonBoxShadow);
  }
}

.p-icon {
  color: rgba(255, 255, 255, 0);
}

.p-overlay-mask-enter {
  background: #000000b8 !important;
}

.padding {
  padding: 2rem;
}

.header {
  text-align: center;
  font-size: 2rem;
}

.align-center {
  text-align: center;
}

nav {
  grid-template-columns: max-content;
  position: relative;
  height: 2rem;
  /* top: 8rem; */
  left: 23m;
  box-shadow:
    0px 5px var(--cancelButtonBackground),
    0px -5px var(--cancelButtonBackground),
    5px 0px var(--cancelButtonBackground),
    -5px 0px var(--cancelButtonBackground),
    0px 10px var(--cancelButtonBoxShadow),
    5px 5px var(--cancelButtonBoxShadow),
    -5px 5px var(--cancelButtonBoxShadow),
    inset 0px 5px #ffffff36;
  background-color: var(--cancelButtonBackground);
  display: flex;
  width: fit-content;
}

.nav-item {
  margin: 0.5rem 0.5rem;
  grid-row: 1;
  line-height: 1rem;
}

.text-shadow {
  text-shadow: 3px 2px 0px rgb(139, 0, 0);
}

.nav-item:hover {
  cursor: pointer;
  text-decoration: underline;
}

.content-categories {
  text-align: center;
}

.router:hover .div1 {
  display: inline-block;
}

.router {
  .div1 {
    display: none;
  }
}

.router:hover {
  font-weight: 800;
}

.homepage .p-accordionheader {
  border-width: 2px;
  border-color: transparent;
  background-color: var(--darkerRed);
  margin: 0.5rem;
  padding: 0.2rem;
  box-shadow:
    0px 5px var(--darkerRed),
    0px -5px var(--darkerRed),
    5px 0px var(--darkerRed),
    -5px 0px var(--darkerRed),
    0px 10px var(--pixelbuttonBackground),
    5px 5px var(--pixelbuttonBackground),
    -5px 5px var(--pixelbuttonBackground),
    inset 0px 5px #b9b9b936;
}

.p-accordionpanel:not(.p-disabled).p-accordionpanel-active > .p-accordionheader {
  background: var(--darkestRed) !important;
  box-shadow:
    0px 5px var(--darkestRed),
    0px -5px var(--pixelbuttonBackground),
    5px 0px var(--pixelbuttonBackground),
    -5px 0px var(--pixelbuttonBackground),
    0px 10px var(--pixelbuttonBackground),
    5px 5px var(--pixelbuttonBackground),
    -5px 5px var(--pixelbuttonBoxShadow),
    inset 0px 5px #00000036;
}

.p-accordionpanel:not(.p-accordionpanel-active):not(.p-disabled) > .p-accordionheader:hover {
  background: var(--cancelButtonBoxShadow) !important;
  box-shadow:
    0px 5px var(--darkerRed),
    0px -5px var(--darkerRed),
    5px 0px var(--darkerRed),
    -5px 0px var(--darkerRed),
    0px 10px var(--pixelbuttonBackground),
    5px 5px var(--pixelbuttonBackground),
    -5px 5px var(--pixelbuttonBackground),
    inset 0px 5px #b9b9b936;
}

.homepage .p-accordionpanel {
  border: solid 2px transparent;
  border-radius: 2rem;
}

.homepage .p-accordioncontent-content {
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0);
  padding: 0.6rem 1rem;
  text-align: left;
  width: 21rem;
}

.homepage {
  padding: 0.5rem 3rem;
  background-color: var(--pixelbuttonBoxShadow);
  background-size: 20rem;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: top;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.678);
  z-index: 1;
}

.justify {
  text-align: justify;
}

.panorama-frame {
  background-color: rgb(45, 59, 45);
  width: 80rem;
  height: 50rem;
  position: relative;
  display: flex;
  margin: auto;
}

.content-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2rem;
  margin: 5rem 1rem 0rem 1rem;
  padding: 2rem 0rem;
}

.content-container-crafts {
  display: grid;
  grid-template-columns: auto;
  gap: 2rem;
  margin: 5rem 1rem 1rem 1rem;
  padding: 2rem 0rem;
  background-color: var(--pixelbuttonBackground);
  box-shadow:
    0px 5px var(--pixelbuttonBackground),
    0px -5px var(--pixelbuttonBackground),
    5px 0px var(--pixelbuttonBackground),
    -5px 0px var(--pixelbuttonBackground),
    0px 10px var(--pixelbuttonBackground),
    5px 5px var(--pixelbuttonBackground),
    -5px 5px var(--pixelbuttonBackground),
    inset 0px 5px #ffffff36;
}

.content-container > div {
  background-color: var(--darkerRed);
  padding: 0.7rem;
  box-shadow:
    0px 5px var(--darkerRed),
    0px -5px var(--darkerRed),
    5px 0px var(--darkerRed),
    -5px 0px var(--darkerRed),
    0px 10px var(--darkerRed),
    5px 5px var(--darkerRed),
    -5px 5px var(--darkerRed),
    inset 0px 5px #ffffff36;
  line-height: 2rem;
}

h1 {
  font-weight: 700;
}

.full-text {
  padding: 4rem;
  text-align: justify;
}

.lightswitch {
  height: 4%;
  z-index: 3;
  position: fixed;
  cursor: pointer;
  right: 2rem;
  top: 1.2rem;
}

.p-2 {
  padding: 2rem;
}

.float-left {
  float: left;
  text-align: justify;
}

.korean-stories {
  padding: 4rem;
  text-align: justify;
  font-size: 2rem;
  max-height: 500px;
  overflow-y: auto;
}

.korean-header {
  font-size: 2.5rem;
}

.p-dialog-mask {
  background-color: rgba(0, 0, 0, 0.37);
  z-index: 2;
}

.p-dialog-content {
  background-color: var(--darkestRed);
  /* overflow: hidden !important; */
  box-shadow:
    0px 5px var(--darkestRed),
    0px -5px var(--darkestRed),
    5px 0px var(--darkestRed),
    -5px 0px var(--darkestRed),
    0px 10px var(--darkestRed),
    5px 5px var(--darkestRed),
    -5px 5px var(--darkestRed),
    inset 0px 5px #00000000;
}

.p-dialog {
  width: 50rem;
  z-index: 5;
}

.story {
  max-height: 40vh;
  overflow: scroll;
  margin: 2rem 0rem;
}

.page-header {
  margin: 1rem 0rem 0rem 0rem;
  font-size: 1.5rem;
}

.scrollable-content {
  overflow: scroll;
  margin: 0rem;
  height: 70vh;
}

.home-container {
  overflow: scroll;
  margin: 2rem 0rem;
  display: grid;
  grid-template-columns: auto auto;
}

.image {
  max-width: 10rem;
  float: left;
  margin: 0.5rem;
  cursor: pointer;
}

.p-galleria {
  img,
  video {
    max-width: 70%;
    margin-top: 5rem;
  }
}

.p-galleria-thumbnails-viewport {
  margin-top: 2rem;
}

.p-galleria-items-container {
  height: 12rem;
  margin: 6rem;
}

.p-galleria {
  overflow: hidden;
  border-color: #00000000 !important;
  background-color: var(--pixelbuttonBackground);
  box-shadow:
    0px 5px var(--pixelbuttonBackground),
    0px -5px var(--pixelbuttonBackground),
    5px 0px var(--pixelbuttonBackground),
    -5px 0px var(--pixelbuttonBackground),
    0px 10px var(--pixelbuttonBackground),
    5px 5px var(--pixelbuttonBackground),
    -5px 5px var(--pixelbuttonBackground),
    inset 0px 5px #83838346;
}

.p-galleria-thumbnail-item {
  opacity: 0.4;
}

.p-galleria-thumbnail-item-current img {
  border: rgb(229, 174, 174) solid 0.2rem;
  border-radius: 0.3rem;
}

.image1 {
  max-height: 25rem;
  display: inline;
  margin: 1rem;
  border: rgb(82, 3, 3) solid 0.2rem;
  border-radius: 0.3rem;
}

.links {
  text-decoration: underline;
  font-size: 1rem;
}

.p-galleria-hover-navigators .p-galleria-nav-button {
  height: 2rem;
  width: 2rem;
  background-color: var(--darkerRed);
  opacity: 1 !important;
  box-shadow:
    0px 5px var(--darkerRed),
    0px -5px var(--darkerRed),
    5px 0px var(--darkerRed),
    -5px 0px var(--darkerRed),
    0px 10px var(--pixelbuttonBackground),
    5px 5px var(--pixelbuttonBackground),
    -5px 5px var(--pixelbuttonBackground),
    inset 0px 5px #b9b9b936;
}

.p-galleria-nav-button:not(.p-disabled):hover {
  background: var(--darkestRed) !important;
}

.p-galleria-prev-button {
  background: var(--primaryButtonBackground);
  box-shadow:
    0px 5px var(--darkerRed),
    0px -5px var(--darkerRed),
    5px 0px var(--darkerRed),
    -5px 0px var(--darkerRed),
    0px 10px var(--pixelbuttonBackground),
    5px 5px var(--pixelbuttonBackground),
    -5px 5px var(--pixelbuttonBackground),
    inset 0px 5px #b9b9b936;
}

.p-galleria-next-button {
  background: var(--primaryButtonBackground);
}

.p-icon {
  color: var(--pixelbuttonBackground);
  width: 2rem;
  height: 2rem;
}

.oldman {
  height: 20%;
  position: absolute;
  top: 2rem;
  right: 35rem;
}

.loadingscreen {
  position: absolute;
  top: 0;
  background: black;
  width: 100%;
  height: 100%;
  z-index: 10;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.loader {
  display: inline-flex;
  font-size: 2rem;
}

.frame {
  margin: 3rem auto;
  color: white;
  width: 70%;
  background-color: var(--darkerRed);
  box-shadow:
    0px 5px var(--darkerRed),
    0px -5px var(--darkerRed),
    5px 0px var(--darkerRed),
    -5px 0px var(--darkerRed),
    0px 10px var(--darkestRed),
    5px 5px var(--darkestRed),
    -5px 5px var(--darkestRed),
    inset 0px 5px #ffffff36;
}

.time {
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stopwatch {
  font-size: 4rem;
  align-self: center;
}

.start-button,
.stop-button,
.reset-button {
  margin: 1rem auto;
  width: fit-content;
  padding: 0.2rem 0.9rem;
}

.start-button {
  background-color: var(--darkGreen);
  box-shadow:
    0px 5px var(--darkGreen),
    0px -5px var(--darkGreen),
    5px 0px var(--darkGreen),
    -5px 0px var(--darkGreen),
    0px 10px var(--darkerGreen),
    5px 5px var(--darkerGreen),
    -5px 5px var(--darkerGreen),
    inset 0px 5px var(--lighGreen);
}

.stop-button {
  background-color: var(--cancelButtonBackground);
  box-shadow:
    0px 5px var(--cancelButtonBackground),
    0px -5px var(--cancelButtonBackground),
    5px 0px var(--cancelButtonBackground),
    -5px 0px var(--cancelButtonBackground),
    0px 10px var(--darkestRed),
    5px 5px var(--darkestRed),
    -5px 5px var(--darkestRed),
    inset 0px 5px #ffffff36;
}

.reset-button {
  background-color: var(--pixelbuttonBackground);
  box-shadow:
    0px 5px var(--pixelbuttonBackground),
    0px -5px var(--pixelbuttonBackground),
    5px 0px var(--pixelbuttonBackground),
    -5px 0px var(--pixelbuttonBackground),
    0px 10px var(--pixelbuttonBoxShadow),
    5px 5px var(--pixelbuttonBoxShadow),
    -5px 5px var(--pixelbuttonBoxShadow),
    inset 0px 5px #ffffff36;
}

.start-button:active,
.stop-button:active,
.reset-button:active {
  transform: translateY(0.5rem);
  background-color: var(--pixelbuttonBoxShadow);
  box-shadow:
    0px 5px var(--pixelbuttonBoxShadow),
    0px -5px var(--pixelbuttonBoxShadow),
    5px 0px var(--pixelbuttonBoxShadow),
    -5px 0px var(--pixelbuttonBoxShadow),
    0px 10px var(--pixelbuttonBoxShadow),
    5px 5px var(--pixelbuttonBoxShadow),
    -5px 5px var(--pixelbuttonBoxShadow),
    inset 0px 5px #ffffff36;
}

/* under 900px bredd */
@media only screen and (max-width: 900px) {
  #app {
    text-align: center;
    width: 100%;
    margin: 0rem auto;
  }

  .website-title {
    line-height: 4.7rem;
  }

  .sten-smaller {
    font-size: 5rem;
  }

  .homepage {
    width: 100%;
    padding: 0.8rem;
    background-size: 10rem;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: top;
  }

  .latest-updates {
    width: 8rem;
    margin: 0.5rem 0.5rem;
    padding: 0.2rem;
  }

  .homepage .p-accordionpanel {
    width: 7.6rem;
    line-height: 1rem;
  }

  .homepage .p-accordioncontent-content {
    width: 7.5rem;
    padding: 0.5rem 0rem;
  }

  nav {
    width: 100%;
    height: 3rem;
  }

  .nav-item {
    margin: 0.5rem auto;
    grid-row: 1;
    line-height: 2rem;
    white-space: nowrap;
    font-size: 1rem;
  }

  .content-container {
    grid-template-columns: 100%;
    gap: 4rem;
    margin: 1rem 1rem;
    padding: 1rem 1rem;
  }

  .page-header {
    position: absolute;
    font-size: 0.7rem;
    top: 0.5rem;
    left: 4.2rem;
  }

  .pixelbutton {
    font-size: 1rem;
  }

  .home-dialog.p-dialog {
    width: 15rem;
    z-index: 5;
  }

  .story {
    font-size: 0.7rem;
    margin: 0rem 0rem;
  }

  .full-text {
    padding: 1rem;
  }

  h1 {
    margin: 0rem 0.5rem;
  }

  .padding {
    padding: 0.5rem;
  }

  .p-accordionpanel {
    line-height: 2rem;
  }

  .p-dialog {
    width: 22rem;
  }

  .header {
    font-size: 1.2rem;
  }

  .p-dialog-content {
    font-size: 1rem;
  }

  .lekton-regular {
    font-size: 0.85rem;
  }

  .tiny5-regular {
    font-size: 1rem;
  }

  .korean-header {
    font-size: 1.8rem;
  }

  .korean-stories {
    padding: 2rem;
    text-align: justify;
    font-size: 1.5rem;
  }

  .content-container > div {
    line-height: 1rem;
  }

  .p-2 {
    padding: 0.4rem;
  }

  .float-left {
    display: flex;
    text-align: justify;
  }

  .scrollable-content {
    margin: 0.5rem;
  }

  .p-galleria {
    img,
    video {
      max-width: 100%;
      margin-top: 2rem;
    }
  }

  .p-galleria {
    margin: 1rem;
  }

  .p-galleria-items-container {
    height: 12rem;
    margin: 2rem;
  }

  img,
  video {
    max-width: 60%;
  }

  .underlined {
    text-decoration: underline;
  }

  .oldman {
    height: 4.5rem;
    right: 10%;
    top: 0rem;
  }

  .content-categories {
    padding: 0rem;
  }

  .p-galleria-hover-navigators .p-galleria-nav-button {
    height: 20rem;
    width: 8rem;
    top: 0;
    background-color: transparent;
    box-shadow:
      0px 5px transparent,
      0px -5px transparent,
      5px 0px transparent,
      -5px 0px transparent,
      0px 10px transparent,
      5px 5px transparent,
      -5px 5px transparent,
      inset 0px 5px transparent;
    margin: 0rem -3rem 0rem -3rem;
  }

  .p-galleria-nav-button:not(.p-disabled):hover {
    background: transparent !important;
  }

  .loader:before,
  .loader:after {
    width: 1rem;
    justify-content: center;
  }

  .stopwatch {
    font-size: 2rem;
  }

  .frame {
    width: 80%;
  }

  .start-button,
  .stop-button,
  .reset-button {
    margin: 0.8rem auto;
    width: fit-content;
    font-size: 1rem;
    padding: 0.1rem 0.7rem;
  }
}

@media only screen and (min-width: 900px) {
  .oldman {
    height: 10rem;
    right: 0rem;
  }
}
