@import 'tailwindcss';

:root {
  --first: #070707;
  --white: white;
  --black: black;

  --nav-button-background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(36, 36, 36, 1) 50%, rgba(0, 0, 0, 1) 100%);
  --nav-button-hover-background: linear-gradient(180deg, rgb(55, 6, 17) 0%, rgb(88, 26, 46) 42%, rgb(55, 6, 14) 100%);

  --body-primary: #383838;
  --body-secondary: #0f0606;
  --bsborder-color: rgb(97, 5, 5);
  --bsborder-color-hover: rgb(44, 0, 0);
  --box-shadow-pixelated:
    0px 2px var(--bsborder-color),
    0px -2px var(--bsborder-color),
    2px 0px var(--bsborder-color),
    -2px 0px var(--bsborder-color),
    0px 2px var(--bsborder-color),
    0px 0px var(--bsborder-color),
    inset 2px 2px rgba(230, 217, 217, 0.726),
    inset -2px -2px #1d01017c;
  --box-shadow-pixelated-hover:
    0px 2px var(--bsborder-color-hover),
    0px -2px var(--bsborder-color-hover),
    2px 0px var(--bsborder-color-hover),
    -2px 0px var(--bsborder-color-hover),
    0px 2px var(--bsborder-color-hover),
    inset 2px 2px rgba(205, 205, 205, 0.87),
    inset -2px -2px #9d9d9d7c;
  --box-shadow-pixelated:
    0px 2px var(--body-secondary),
    0px -2px var(--body-secondary),
    2px 0px var(--body-secondary),
    -2px 0px var(--body-secondary),
    0px 2px var(--body-secondary),
    0px 0px var(--body-secondary),
    inset 2px 2px rgba(230, 217, 217, 0.726),
    inset -2px -2px #6665657c;
  --dotted-border: 1px dashed white;
}

/**fonts**/

.kranky-regular {
  font-family: "Kranky", serif;
}

.covered-by-your-grace-regular {
  font-family: "Covered By Your Grace", cursive;
}

.nanum-gothic-coding-regular {
  font-family: "Nanum Gothic Coding", monospace;
}

.kode-mono {
  font-family: "Kode Mono", monospace;
}


#app {
  text-align: center;
  width: 840px;
  margin: 0rem auto;
}

#main-content {
  padding: 1rem;
}

p {
  font-size: .9rem;
  text-align: justify;
  font-family: "Nanum Gothic Coding", monospace;
}

h1 {
  font-size: 3rem;
  text-align: left;
}

h2 {
  font-size: 2rem;
}

h1,
h2,
h3,
.nav-item,
.craft-item,
#calendar {
  font-family: "Kranky", serif;

}

/**Items with border*/
.homepage,
.home-nav-container,
.calendar-weekdays {
  border: var(--dotted-border);
}

/**Items with border at the bottom*/
#calendar,
#stopwatch,
#gifs,
.bio {
  border-bottom: var(--dotted-border);
}

#gifs,
#stopwatch {
  padding: .3rem;
}

#left-panel {
  border-right: var(--dotted-border);
}

#right-panel {
  border-left: var(--dotted-border);
}

#website-icon {
  padding: .5rem;
}

body {
  background-color: var(--first);
  background-size: 7px 7px;
  background-image: radial-gradient(circle at center,
      var(--body-primary) 0.05rem,
      transparent 0);
  color: var(--white);
  width: auto;
  height: auto;
}

nav {
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
  display: grid;
  width: 100%;
  gap: .5rem;
  margin: auto 0;
}

.home-content-container {
  display: grid;
  grid-template-columns: 176px auto 177px;
}

.homepage {
  min-height: 100vh;
  background-color: var(--first);
}

.home-nav-container {
  display: grid;
  grid-template-columns: 3rem auto 34rem;
}

.about-me-container {
  display: grid;
  grid-template-columns: auto auto;
}

.button-border1 {
  background-image: url(./assets/button-borders1.png);
  background-size: cover;
}

.button-border2 {
  background-size: cover;
  background-image: url(./assets/button-borders4.png);
}

.button-border3 {
  background-size: cover;
  background-image: url(./assets/button-borders3.png);
}

.button-border1:hover,
.button-border2:hover,
.button-border3:hover {
  color: var(--black);
}

.button-border1:hover {
  background-image: url(./assets/button-borders-hover3.png);
  background-size: cover;
}

.button-border2:hover {
  background-size: cover;
  background-image: url(./assets/button-borders-hover1.png);
}

.button-border3:hover {
  background-image: url(./assets/button-borders-hover4.png);
  background-size: cover;
}

.nav-item {
  white-space: nowrap;
  font-size: 1rem;
  line-height: 2.2rem;
  min-width: 5.2rem;
}

.nav-item:hover {
  cursor: pointer;
  transform: translateY(-3px);
}

.nav-item:active {
  cursor: pointer;
  transform: translateY(-2px);
}

.crafts-menu {
  position: relative;
  display: inline-block;
  font-size: .7rem;
}

.crafts-dropdown {
  display: none;
  position: absolute;
  min-width: 5rem;
  background: var(--first);
  color: var(--white);
  z-index: 5;
}

.crafts-menu:hover .crafts-dropdown {
  display: flex;
  flex-direction: column;
}

.craft-item {
  padding: 0.2rem 0.7rem;
  text-decoration: none;
  font-size: 1rem;
}

.craft-item:hover {
  background-image: url(./assets/button-borders-hover3.png);
  background-size: cover;
  color: var(--black);
}

.reading-gif {
  position: relative;
  margin-right: .5rem;
  width: 10rem;
  display: inline;
}

.about-header {
  text-align: right;
  margin-right: 1rem;
}

.page-header {
  text-align: left;
  line-height: 2.7rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.603);
  z-index: 1;
}

.content-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2rem;
  margin: 5rem 1rem 0rem 1rem;
  padding: 2rem 0rem;
}

.content-container-single-col {
  display: grid;
  grid-template-columns: auto;
  gap: 2rem;
  margin: 5rem 1rem 1rem 1rem;
  padding: 1rem 1rem;
}

.content-container>div {
  padding: 0.7rem;
  line-height: 2rem;
}

.lightswitch {
  z-index: 5;
  max-height: 2rem;
  cursor: pointer;
  position: absolute;
  top: 22.5rem;
  right: 32.5rem;
}

.gifs {
  width: 7rem;
  margin: 0 auto;
}

.profile {
  height: 18rem;
  padding-top: .5rem;
}

.portrait-image {
  position: relative;
  width: 100%;
  height: 16rem;
  margin: 0rem auto;
}

.portrait-image>img {
  position: absolute;
  top: 0;
}

.portrait-image>.undithered {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.portrait-image:hover>.undithered {
  opacity: 1;
}

.bio {
  padding: .5rem;
  font-family: "Kranky", serif;
  font-size: .8rem;
}

.oldman {
  height: 11rem;
  width: auto;
  border-bottom: var(--dotted-border);
}

#calendar {
  background-color: var(--first);
}

.calendar {
  width: 9rem;
  background-color: var(--first);
  margin: .9rem auto;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.calendar-header button {
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

#month-year {
  font-size: 1rem;
  font-weight: bold;
  margin: 0 auto;
}

.calendar-weekdays,
.calendar-dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-weekdays div {
  cursor: pointer;
  color: var(--white);
  font-size: .7rem;
  padding: .23rem;
}

.calendar-dates div {
  cursor: pointer;
  font-size: .6rem;
}

.current-date {
  color: var(--black);
  background: white;
}

#stopwatch {
  height: 14rem;
}

.stopwatch>img {
  position: absolute;
  top: 1.5rem;
}

.stopwatch>.undithered {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.stopwatch:hover>.undithered {
  opacity: 1;
}

.stopwatch {
  position: relative;
  width: 9rem;
  margin: 0rem auto;
}

.start-button,
.stop-button,
.reset-button {
  font-size: .6rem;
  font-family: "Kode Mono", monospace;
  position: absolute;
  padding-bottom: 2rem;
}

.start-button:hover,
.stop-button:hover,
.reset-button:hover {
  cursor: pointer;
}

.stop-button {
  top: 34.3rem;
  left: 22rem;
  transform: rotate(-45deg);
}

.start-button {
  top: 34.1rem;
  left: 27.9rem;
  transform: rotate(40deg);
}

.reset-button {
  top: 34rem;
  left: 24.9rem;
}

#time {
  position: absolute;
  font-size: 1rem;
  top: 38.3rem;
  left: 23.4rem;
  font-family: "Kode Mono", monospace;
}

@media only screen and (max-width: 800px) {
  #app {
    text-align: center;
    width: 100%;
    margin: 0rem auto;
  }

  #website-icon {
    padding-right: .5rem;
  }

  h1 {
    font-size: 1.7rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  p {
    font-size: .9rem;
  }

  .home-content-container {
    display: grid;
    grid-template-columns: 6rem auto 6rem;
  }

  .portrait-image>img {
    width: 6rem;
  }

  .oldman {
    height: 6rem;
    margin: 0 auto;
  }

  .lightswitch {
    max-height: 2rem;
    top: 1rem;
    left: 1rem;
  }

  .calendar-header {
    padding: 4px;
  }

  .nav-item {
    white-space: nowrap;
    font-size: .7rem;
    height: 1rem;
    width: 5rem;
    line-height: 1rem;
  }

  nav {
    grid-template-columns: auto auto auto;
    display: grid;
    width: 16rem;
    gap: .5rem;
  }

  .home-nav-container {
    padding: 0.5rem 1rem .5rem 0rem;
    grid-template-columns: 3rem auto 16rem;
  }

  .calendar {
    width: 5.5rem;
    background-color: var(--first);
    margin: 1rem auto;
  }

  .calendar-weekdays div {
    padding: 0rem;
  }

  .bio {
    font-size: .6rem;
    padding: .2rem;
    width: 100%;
    border: var(--dotted-border);
  }

  .profile {
    height: 11rem;
  }

  .button-border1, .button-border2, .button-border3, .button-border1:hover, .button-border2:hover, .button-border3:hover {
    background-size: 5.2rem 1rem;
  }
}